<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/body.css}">
        <link rel="stylesheet" th:href="@{/header.css}">
        <link rel="stylesheet" th:href="@{/nav.css}">
        <link rel="stylesheet" th:href="@{/main.css}">
        <link rel="stylesheet" th:href="@{/footer.css}">
    </head>
    <body>
        <header>
            <h1>siwFood</h1>
        </header>
        <nav>
            <ul class="nav-left">
                <li><a href="/profili">Cuochi</a></li>
            </ul>
            <ul class="nav-right">
                <li th:if="${userDetails == null}"><a href="/login">Login</a></li>
                <li th:if="${userDetails != null}"><a th:href="@{'/findProfilo/'+${userDetails.username}}" th:text="'Benvenuto: '+${userDetails.username}"></a></li>
                <li th:if="${userDetails != null}"><a href="/logout">Logout</a></li>
            </ul>
        </nav>    
        <main>
            <div class="contenitoreGrande">
                <div class="contenitorePiccolo">
                    <div><h2>Antipasti: </h2></div>
                    <div th:if="${antipasti!=null}" th:each="antipasto : ${antipasti}">
                        <a th:href="@{'/ricetta/'+${antipasto.id}}" th:text="${antipasto.nome}"></a>
                    </div>
                </div>
                <div class="contenitorePiccolo">
                    <div><h2>Primi: </h2></div>
                    <div th:if="${primi!=null}" th:each="primo : ${primi}">
                        <a th:href="@{'/ricetta/'+${primo.id}}" th:text="${primo.nome}"></a>
                    </div>
                </div>
                <div class="contenitorePiccolo">
                    <div><h2>Secondi: </h2></div>
                    <div th:if="${secondi!=null}" th:each="secondo : ${secondi}">
                        <a th:href="@{'/ricetta/'+${secondo.id}}" th:text="${secondo.nome}"></a>
                    </div>
                </div>
                <div class="contenitorePiccolo">
                    <div><h2>Dolci: </h2></div>
                    <div th:if="${dolci!=null}" th:each="dolce : ${dolci}">
                        <a th:href="@{'/ricetta/'+${dolce.id}}" th:text="${dolce.nome}"></a>
                    </div>
                </div>
            </div>
            
        </main>
        <footer>
            <h3>By Lore'</h3>
        </footer> 
    </body>
</html>